<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Little Encyclopedia</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <header class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Little Encyclopedia</h1>
                <p class="lead">Search to your heart's content.</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <form class="form">
                    <div class="input-group">
                        <input name="search" placeholder="Enter something to search for..." type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <footer class="container">
        <div class="text-center">
            <br>
            <p>Little Encyclopedia made by Tony, Nick, Jen, and Rom</p>
        </div>
    </footer>

</body>
</html>